body {
  margin: 0;
  font-family: 'Alice', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

input {
  font-family: 'Alice', serif;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}



